<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <form action="/flowers" method="post">
        <input type="text" name="name"><br>
        <input type="text" name="quantity"><br>
        <input type="text" name="price_per_item">
        <input type="submit" value="Added">
    </form>
    <ul>
      {% for flower in flowers %}
        <li>{{ loop.index }}. {{ flower.name }} — Цена: {{ flower.price_per_item }}, Кол-во: {{ flower.quantity }}</li>
      {% endfor %}
    </ul>
</body>
</html>